

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingone">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#emailtemp"
                    aria-expanded="false" aria-controls="emailtemp">
                    Email Default Template
                </button>
            </h2>
        </div>
        <div id="emailtemp" class="collapse" aria-labelledby="headingone" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <form action="{{ url_for('emailtemp') }}" method="POST">
                        <div class="form-group col-sm-4">
                            <label for="email">Sender</label>
                            <input type="email" class="form-control" placeholder="Enter email" name="sender" value="{{etemp.sender}}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Subject</label>
                            <input type="text" class="form-control" placeholder="Enter the subject for the Mail " name="subject" value="{{etemp.subject}}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Message</label>
                            <textarea class="form-control" rows="6" name="message"
                                placeholder="Enter just the message body to be sent. Dear {Name } will be added automatically >  " > {{etemp.message}} </textarea>
                        </div>
                
                        <button type="submit" class="btn btn-primary">Save Template</button>
                    </form>
                
                </div>

            </div>
        </div>
    </div>
</div>





