<table class="rubics table table-hover table-bordered">
  <!--<caption>Category Rubics</caption>-->
 <tr>
   <td></td>
   <th scope="col">Level 1: Beginning</th>
   <th scope="col">Level 2: Developing</th>
   <th scope="col">Level 3: Accomplished</th>
   <th scope="col">Level 4: Exemplary</th>
 </tr>
 {% for r in ru %}
 <tr>


   <th scope="row">{{ r.Indicator }}</th>
   <td>{{ r.Beginning }}</td>
   <td>{{ r.Developing }}</td>
   <td>{{ r.Accomplished }}</td>
   <td>{{ r.Exemplary }}</td>


 </tr>
    {% endfor %}

</table>
