
<h2>Submit the feedback for group members</h2>
<p class="note"> <b>Note</b> Please find the details about the <a href="#rubics"> rubric  </a>below </p>
  <!-- <caption>Self Assessment </caption> -->
<br><br>

<form  action= "{{ url_for('saSubmit') }}" method="post">

  <!-- <caption>Self Assessment </caption> -->
  <table class="samatrix table table-bordered">
  <thead>
 <tr>
   <td>Group Members Names</td>
   {% for m in mgroup %}
   <th scope="col">{{m.firstName}} {{m.lastName}}</th>
   {% endfor %}
 </tr>
</thead>
<tbody>
 {% for r in ru %}
 <tr>
   <th scope="row" class='tabrowh'>{{ r.Indicator }}</th>
   {% for m in mgroup %}
   <td>
     <select id="options" name="val">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4" selected >4</option>
    </select>

   </td>
   {% endfor %}
 </tr>

  {% endfor %}
  </tbody>
  </table>
  <br>
  <p class="note"> <b>Note</b> you can submit the Assessment just once. Please check before sumitting the response. </a>below </p>
  <br>

  <button  class="btn btn-primary" type="submit" name="button">Submit response</button>

</form>
<br><br>

