h1{
  color: orange ;
}

h2{
  color: green;
}

.logo{
  width: 320px;
  height: auto;
}

.error-message{
  color: red;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
