{% extends 'base.html' %}

{% block content %}

<br><br>

{% include 'other/adbdata.html' %}
<br><br>
<h2>The Faculty details Overview</h2>
<br><br>
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>Last Name </th>
        <th>First Name</th>
        <th>Email</th>
    </tr>
    </thead>
<tbody>
    {% for f in fac %}
    <tr>
        <td>{{f.lastName}} </td>
        <td>{{f.firstName}}</td>
        <td>{{f.email}}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>





{% endblock %}