{% extends 'base.html' %}

{% block content %}
<br><br>
{% include 'other/adbdata.html' %}
<br><br>

<h2>various students comments are </h2>
<br><br>
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>Student Id</th>
        <th>Name </th>
        <th>Comment</th>
    </tr>
    </thead>

    <tbody>
    {% for c in comm %}
    <tr>
        <td>{{c.userId}}</td>
        <td>{{c.name}} </td>
        <td>{{c.comment}}</td>
    </tr>

    {% endfor %}
    </tbody>

</table>





{% endblock %}