{% extends "base.html" %}

{% block content %}
  
    

    <div class="jumbotron">
      

      <h2>Welcome to  <br> <br><b> Self Assessment Portal </b></h2>
    
      <hr class="my-4">
      <h4> <b> Evaluate your team members based on a predefined matrix </b></h4>

      <p>Example : </p>
      <p>
      
        The Canadian Engineering Accreditation Board requires graduates 
        of engineering programs to possess 12 attributes at the time of 
        graduation. <b> You have been asked to complete a self –assessment 
        of yourself and your group for Graduate Attribute 6: Individual and 
        team work related to your 4th Year Capstone Project </b>. Graduate Attribute 6 represents a student’s
        ability to work effectively as a member and leader in teams, preferably in a multi-disciplinary setting. Graduate
        attribute measurements will not be taken into consideration in determining a student’s grade in the course.
      
      </p>
      
      <p class="lead">

        <div>
        {% if home %}
        <h5 class="plogin">You are already Logged In </h5>
        
        {% else %}
        <h5>Lets get started</h5>
        <p class="rlogin">Please Login to access the Portal</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
        {% endif %}
        
        </div>
        
      </p>
      
    </div>
    

    <div class=" container landing-page">
     
      <h5> <b> Instructions to access the portal: </b></h5>
        <br>
      <ol>
       <li> To access the Self-assessment website, you need to be on Carleton Network. If you are off-campus, you will need to use
       <a href="https://carleton.ca/its/help-centre/remote-access/">VPN</a> .</li>
       <li> Please user your cmail email account to login to the application
            <ul>-sample: "****@cmail.carleton.ca"</ul>

       </li>
       <li>Once you submit the log in request, an email will be sent to your registered Id.
         <ul>
           <li>If you think you are an authorized user but still can't log in, kindly contact to Admin staff: <a href=""> saportal@sce.carleton.ca</a>  
            to have access to the portal</li>
           <li>No email will be sent to any unauthorized Email Id's </li> </ul>
       </li>

       <li>It uses a token-based validation, and the token will be valid for 10 minutes. If the token expires, you have to request
      it again.</li>
       <li>Once you have successfully logged into the portal, you will be redirected to the Student dashboard, which will have all
      the information about you and your respective group.
         <ul> <li>If there is any incorrect information, please reach out to the Admin staff: <a href=""> saportal@sce.carleton.ca</a> to address the issue before submitting the
        assessment.</li>
          <li>You can also share your feedback about the portal at the end of the assessment.</li>
        </ul>

       </li>
      </ol>
       
    
    
    </div>
{% endblock %}
