{% extends "base.html" %}

{% block content %}
  
    

    <div class="jumbotron">
      

      <h2>Welcome to  <br> <br><b> Self Assessment Portal </b></h2>
    
      <hr class="my-4">
      <h4 class="text-danger"> <b> Evaluate your team members based on a predefined matrix </b></h4>

      <p>Example : </p>
      <p>
      
        The Canadian Engineering Accreditation Board requires graduates 
        of engineering programs to possess 12 attributes at the time of 
        graduation. <b> You have been asked to complete a self –assessment 
        of yourself and your group for Graduate Attribute 6: Individual and 
        team work related to your 4th Year Capstone Project </b>. Graduate Attribute 6 represents a student’s
        ability to work effectively as a member and leader in teams, preferably in a multi-disciplinary setting. Graduate
        attribute measurements will not be taken into consideration in determining a student’s grade in the course.
      
      </p>
      
      <p class="lead">

        <div>
        {% if home %}
        <h5 class="plogin">You are already Logged In </h5>
        
        {% else %}
        <h5>Lets get started</h5>
        <p class="rlogin">Please Login to access the Portal</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
        {% endif %}
        
        </div>
        
      </p>
      
    </div>
    

    <div class=" container landing-page">
     
      <h5> <b> Details about the project: </b></h5>
        <br>
      <p> 
        Self Assessment Portal  uses a number of open source projects to work properly:

        <ul>

          <li>[markdown-it] - Markdown parser done right. Fast and easy to extend.</li>
          <li>[Bootstrap] - great UI boilerplate for modern web apps</li>
          <li>[python- Flask] - evented I/O for the backend</li>
          <li>[jQuery] - Javascript</li>
          <li>[Mongo DB ] - No SQl Database for storing the data </li>
        </ul>
        
        <a href=" https://github.com/Singh-Ish/selfassessmentDemo.git"> <b>Git hub Link </b>  </a>    </p>

    
    
    </div>
{% endblock %}
