{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <p> <h4> Hi  <b> {{ name }} </b> please submit your Assessment for your group members in the table below </h4></p>

  </div>

  
  <div class="satab">
    <p>{% include 'other/samatrix.html' %}</p>
    <!-- <button type="button" onclick="location.href='{{ url_for('fsa') }}'" name="button">Next</button>  -->
  </div>
  <div class="sarules" id="rubics">
    <h2>Category Rubics</h2>
    <p>{% include 'other/rubics.html' %}</p>
  </div>

{% endblock %}
