{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">

            <div class="container  login-form test-center">

                <form class="form-signin" action='/login' method="post">
            
                    
                        <h1 class="h3 mb-3 sm-3 font-weight-normal">Self Assessment Application</h1>
                        <p>Login To access the self assessment portal</p>
                        
                        <br>
                    <!--
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder=" Carleton Email address" required>
                    -->
                        
                    <input type="text" name="username" id="username" class="form-control" placeholder=" User Name " required>
                        <br>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    
                   
                </form>
            
            
            </div>
        </div>

        <div class="col">
            <div class="container  text-right">
                <h3>Admin login</h3>
                <p><b>Username:</b>  admin</p>
                <p><b>Password:</b> admin </p>
                
                <h3>student login</h3>
                <p><b>Username:</b>  student</p>
                <p><b>Password:</b> student </p>
            </div>

        </div>
    </div>


</div>








{% endblock %}
